$black: #000000;
$white: #ffffff;
$grey-light: #f3f5f9;
$grey-fade: #e5e5e5;
$grey-dust: #c5cedc;
$grey: #9fa2a6;
$grey-dark: #8a91a2;
$grey-deep: #6e7073;
$grey-midDark: #747474;
$grey-veryDark: #5a6068;
$grey-superDark: #475465;
$green-light: #6fcf97;
$green-superLight: #caefd9;
$green-concentrated: #27ae60;
$green: #0ebb3e;
$green-dark: #219653;
$pink: #f5d4c9;
$orange: #ffa800;
$red: #ff0000;
$red-blood: #d92530;
$crimson: #e81152;
$maroon: #8e0343;
$blue: #2f80ed;
$dark-blue: #0061ba;
$purple: #9b51e0;
$pink-dark: #d75792;
$black-light: #333333;
$black-dark: #030407;
