.contacts-page {
  padding: 0px 18px;
  h1 {
    margin-top: 20px;
    font-size: $fs-h1;
  }

  &__hours {
    background: $orange;
    max-width: 300px;
    padding: 10px;
    margin-top: 30px;
    border: 1px solid $red;
    h6 {
      font-size: $fs-h6;
      font-weight: bold;
      margin-bottom: 10px;
    }
  }

  &-map {
    width: 100%;
    height: 500px;
  }
}

.map-wrapper {
  margin: 50px 0px;

  h2 {
    font-size: $fs-h2;
    margin: 0px 0px 20px;
  }

  .contacts-page__hours {
    margin-bottom: 20px;
  }

  @include for-tablet-up {
    display: flex;
    gap: 50px;
  }
}
