.recently-viewed-items-box {
  padding: 0 18px 48px;
}

.recently-viewed-items-textbox {
  padding: 16px 0 8px 0;
}

.recently-viewed-heading {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.recently-viewed-subheading {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: $grey-veryDark;
}
