.payment-accordion {
  box-sizing: border-box;
  position: relative;
  border-bottom: 1px solid #c5cedc;
  max-height: fit-content;

  &__info {
    box-sizing: border-box;
    padding: 19px 0px;
    display: flex;
    justify-content: space-between;
  }

  &-content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s cubic-bezier(0, 1.12, 0.01, 1.11);

    &_opened {
      max-height: 100vh;
      padding-bottom: 10px;
    }
  }
}
