.modal-window {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: $white;
  width: 100vw;
  height: 100vh;
  overflow: scroll;

  &__header {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 95vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    background-color: $white;
    box-shadow: 0 3px 0 -2px rgba(0 0 0 / 12%);
  }

  @include for-tablet-up {
    overflow: hidden;
    background: rgba(0, 0, 0, 0.3);

    &__content {
      width: fit-content;
      max-width: 1440px;
      max-height: 80%;
      position: absolute;
      background: $white;
      overflow: scroll;
    }

    &__header {
      box-sizing: border-box;
      position: fixed;
      top: unset;
      z-index: 2;
      width: 100%;
      max-width: 382.5px;
      background: $white;
    }

    &__header h4 {
      font-size: $fs-h4;
    }
  }
}

.catalog-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 16px;
  margin-top: 60px;
}

.categories-option {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 60px;

  @include for-tablet-up {
    width: 382px;
  }
}

.categories-modal {
  @include for-tablet-up {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.catalog-modal {
  @include for-tablet-up {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.reviews-modal {
  background: rgba(0, 0, 0, 0.3);

  .modal-window__content {
    margin: 50% auto 0px;
    width: 90%;
  }

  .modal-window__header {
    box-sizing: border-box;
    margin-top: calc(50% - 57px);
    width: 90%;
    max-width: 100vw;
  }

  .reply-form {
    padding: 10px;
  }

  .review-modal {
    background: $grey-light;
  }

  .review-modal__rating-wrapper {
    padding: 0px 10px;
    p {
      color: $grey-midDark;
      font-size: 14px;
    }
  }

  .button_close {
    padding: 1px 6px;
  }

  @include for-tablet-up {
    .modal-window__content {
      margin-top: 0;
      width: 60%;
    }
    .modal-window__header {
      margin-top: 0;
      width: 60%;
      max-width: 100vw;
    }

    .review-modal {
      margin-top: 60px;
    }
    .reply-form {
      margin: 0;
    }
  }
}
