.recentlyViewedSlider {
  width: 100%;
  height: fit-content;
  margin: 0;

  .swiper-wrapper {
    padding: 13px 0;
  }
}

.recentlyViewedSlide {
  max-width: 150px;
  min-width: 104px;
  transition: all 0.2s;
}

@media (min-width: 1024px) {
  .recentlyViewedSlide {
    &:hover {
      box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.15);
      transform: scale(1.05);
    }
  }
}
